@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Joti+One&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cartMain-Bg{
    background-color: #252323;
    width: 100%;
}

.cartNavbar-width{
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.cartLogo{
    max-width: 150px;
    height: 80px;
}

.cartLogo img{
    width: 100%;
    height: 100%;
}

.navList{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.navList li {
    list-style: none;
    padding: 0 50px;   
}

.navList a{
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 22px;
}

.cartDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
       
}


.cartDiv img{
    width: 30px;
    height: 30px;
    color: white;
    border-radius: 50%;
    padding: 0 25px; 
}

.carticon{
    color: white;
    width: 30px;
    height: 30px;
}


/* second section */